body, html{
  margin: 0px;
  height: 100%;
}

#paneel{
  height:200px;

  /* Je kunt breedtes en hoogtes ook in procenten opgeven */
  width: 100%;  

  background-color: #ded;

  /* 
    Met position absolute kunt je elementen forceren een bepaalde
    positie aan te nemen. Vervolgens kun je het element met 
    top, bottom, left en right het element een plaats geven.
  */
  position: absolute;
  bottom: 0px;
}

#paneel table{
  margin-left:  auto;
  margin-right: auto;
}
#paneel td{
  padding: 10px;
}